body {
    background-color: #f6f6f6;
}

.container, .CodeMirror {
    background-color: #f8f9f8;
}

.container {
    padding: 15px;
    box-shadow: 0px 0px 5px 2px #eee;
}

.code {
    margin: 10px 0;
    font-size: 12px;
}

.inline {
    display: inline-block;
    margin: 0;
}

.CodeMirror {
    height: auto!important;
}

[data-play] {
    margin-right: 25px;
}