body, .CodeMirror {
	background-color: #f8f9f8;
}

.code {
    margin: 10px 0;
    font-size: 12px;
}

.inline {
    display: inline-block;
    margin: 0;
}

.CodeMirror {
    height: auto!important;   
}